.popup__close-button {
  width: 32px;
  height: 32px;  
  background-image: url(../../../images/Close\_Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 599px) {
    .popup__close-button {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
    }
}