.popup__body {
    width: 430px;
    height: 330px;
    padding-top: 34px;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 599px) {
    .popup__body {
        width: 282px;
        margin-top: 123px;
        padding-top: 25px;
    }
}